@import "tailwindcss";

/* =========================
   COLOR TOKENS
========================= */

:root {
  --color-primary: #3d405b;
  --color-muted: #a89b85;
  --color-surface: #faf9f0;
  --color-disabled: #a89b85;
  --color-border: #3d405b;
  --color-pairing-border: #f6deb6;
  --color-card: #f6deb6;
}

[data-theme="dark"] {
  --color-primary: #8b80f9;
  --color-muted: #a0a0a0;
  --color-surface: #333333;
  --color-disabled: #555555;
  --color-border: #8b80f9;
  --color-pairing-border: #333333;
  --color-card: #2a2b38;
}

button {
  cursor: pointer;
  transition: opacity 0.15s ease;
}

button:hover {
  opacity: 0.7;
}

body {
  background-color: #f8e6c9;
}

[data-theme="dark"] body {
  background-color: #101118;
  color: #faf9f0;
}

[data-theme="dark"] #controls-mobile {
  background-color: #101118;
}

[data-theme="dark"] .text-black {
  color: #faf9f0;
}

[data-theme="dark"] #themeToggleBtn path {
  fill: #faf9f0;
}

/* =========================
   CUSTOM UTILITIES
========================= */

@layer utilities {
  .font-forum {
    font-family: "Forum", serif;
  }

  .font-plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

@utility text-primary {
  color: var(--color-primary);
}

@utility bg-primary {
  background-color: var(--color-primary);
}

@utility fill-primary {
  fill: var(--color-primary);
}

@utility text-muted {
  color: var(--color-muted);
}

@utility fill-muted {
  fill: var(--color-muted);
}

@utility bg-surface {
  background-color: var(--color-surface);
}

@utility text-disabled {
  color: var(--color-disabled);
}

@utility border-subtle {
  border-color: var(--color-border);
}

@utility border-pairing {
  border-color: var(--color-pairing-border);
}

@utility bg-card {
  background-color: var(--color-card);
}
