@import "tailwindcss";

/* =========================
   COLOR TOKENS
========================= */

:root {
  --color-primary: #151415;
  --color-muted: #797b84;
  --color-surface: #f1f0ea;
  --color-disabled: #797b84;
  --color-border: #797b84;
  --color-border2: #151415;
  --color-pairing-border: #151415;
  --color-card: #f1f0ea;
}

[data-theme="dark"] {
  --color-primary: #f1f0ea;
  --color-muted: #797b84;
  --color-surface: #f1f0ea;
  --color-disabled: #797b84;
  --color-border: #f1f0ea;
  --color-border2: #292929;
  --color-pairing-border: #797b84;
  --color-card: #1f201e;
}

button {
  cursor: pointer;
  transition: opacity 0.15s ease;
}

button:hover {
  opacity: 0.7;
}

body {
  background-color: #e7e5da;
}

[data-theme="dark"] body {
  background-color: #151415;
  color: #f1f0ea;
}

[data-theme="dark"] #controls-mobile {
  background-color: #151415;
}

[data-theme="dark"] input::placeholder {
  color: #797b84;
}

[data-theme="dark"] .text-black {
  color: #f1f0ea;
}

[data-theme="dark"] #themeToggleBtn path {
  fill: #f1f0ea;
}

/* =========================
   CUSTOM UTILITIES
========================= */

@layer utilities {
  .font-forum {
    font-family: "Forum", serif;
  }

  .font-plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

@utility text-primary {
  color: var(--color-primary);
}

@utility bg-primary {
  background-color: var(--color-primary);
}

@utility fill-primary {
  fill: var(--color-primary);
}

@utility text-muted {
  color: var(--color-muted);
}

@utility fill-muted {
  fill: var(--color-muted);
}

@utility bg-surface {
  background-color: var(--color-surface);
}

@utility text-disabled {
  color: var(--color-disabled);
}

@utility border-subtle {
  border-color: var(--color-border);
}

@utility border-pairing {
  border-color: var(--color-pairing-border);
}

@utility bg-card {
  background-color: var(--color-card);
}
